
* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #0d122b;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}



main {
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2em;
    padding-top: 4em;
    text-align: center;
}


#result {
    color: #000000;
    font-style: italic;
    font-family: ü‡ÉSÉVÉbÉN (Body);
    font-size: 16px;
    position: absolute;
    left: 120px;
    top: 150px;
    text-align:left;
}



button {
    position: absolute;
    left: 100px;
    font-size: 18px;
    font-weight: 200;
    padding: 1em;
    width: 200px;
    border: 2px groove;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4em;
}

    button:hover,
    button:focus {
        background: #F6F0EF;
    }


